<!DOCTYPE html>
<html>
  <head>
    <title>OnePx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <%= image_tag "onepx-tiny.png", class: "logo" %>
    </header>
    <%- if flash.notice.present? %>
      <div class="flash-notice">
        <p><%= flash.notice %></p>
      </div>
    <%- end %>

    <%= yield %>
  </body>
</html>
